{% extends "base.html" %}

{% block main %}
    <h1>Add bootable</h1>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back</a>
    <form method="post">

        <div class="form-group">
            <label for="code">Internal code</label>
            <input type="text" name="code" id="code" class="form-control">
            <div class="help">
                This is used internally as ipxe label and also for the menu sorting, use something like "ubuntu1804"
            </div>
        </div>

        <div class="form-group">
            <label for="label">Label</label>
            <input type="text" name="label" id="label" class="form-control">
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="everywhere"> Bootable on all machines (even unregistered ones)
            </label>
        </div>

        <div class="form-group">
            <label for="image">Kernel image</label>
            <input type="text" name="image" id="image" class="form-control" value="vmlinuz">
            <div class="help">
                There name of the kernel file to boot, should be placed in <code>{{ static }}/iscsi/[code]/[name]</code>
            </div>
        </div>

        <div class="form-group">
            <label for="ramdisk">Initial ramdisk</label>
            <input type="text" name="ramdisk" id="ramdisk" class="form-control" value="initrd.img">
            <div class="help">
                There name of the initrd, should be placed in <code>{{ static }}/iscsi/[code]/[name]</code>
            </div>
        </div>

        <div class="form-group">
            <label for="target">Target</label>
            <select name="target" id="target" class="form-control">
                {% for target in targets %}
                    <option value="{{ target.iqn }}">{{ target.label }} ({{ target.iqn }})</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="initiator">Initiator</label>
            <select name="initiator" id="initiator" class="form-control">
                {% for initiator in initiators %}
                    <option>{{ initiator }}</option>
                {% endfor %}
            </select>
            <div class="help">
                This should be the value from <code>/etc/iscsi/initiatorname.iscsi</code> inside the image.
            </div>
        </div>

        <div class="form-group">
            <label for="target_ip">Target IP</label>
            <input type="text" name="target_ip" id="target_ip" class="form-control">
            <div class="help">
                IP Address of the iscsi server
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}