{% extends "base.html" %}

{% block main %}
    <h1>Add bootable</h1>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back</a>
    <form method="post">

        <div class="form-group">
            <label for="code">Internal code</label>
            <input type="text" name="code" id="code" class="form-control">
            <div class="help">
                This is used internally as ipxe label and also for the menu sorting, use something like "ubuntu1804"
            </div>
        </div>

        <div class="form-group">
            <label for="label">Label</label>
            <input type="text" name="label" id="label" class="form-control">
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="everywhere"> Bootable on all machines (even unregistered ones)
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>

    </form>
{% endblock %}