#!ipxe

menu Choose system to boot on {{ name }}
{%- for item in items %}
item {{ item.code }} {% if item.disabled %} --gap {% endif %}{{ item.label }}
{%- endfor %}
item netbootxyz Internet boot via https://netboot.xyz
choose os && goto ${os}

{% for item in items %}
:{{ item.code }}
{%- if item.boottype == 'ubuntu_nfs' %}
kernel http://pxeweb:4793/static/nfs/{{ item.code }}/boot/vmlinuz-{{ get_newest_kernel('nfs/'+item.code+'/boot') }}
initrd http://pxeweb:4793/static/nfs/{{ item.code }}/boot/initrd.img-{{ get_newest_kernel('nfs/'+item.code+'/boot') }}
imgargs vmlinuz-{{ get_newest_kernel('nfs/'+item.code+'/boot') }} initrd=initrd.img-{{ get_newest_kernel('nfs/'+item.code+'/boot') }} root=/dev/nfs nfsroot={{ nfsroot }}/{{ item.code }} ip=dhcp rw
{%- elif item.boottype == 'ubuntu_iscsi' %}
kernel http://pxeweb:4793/static/iscsi/{{ item.code }}/{{ item.image }}
initrd http://pxeweb:4793/static/iscsi/{{ item.code }}/{{ item.ramdisk }}
imgargs {{ item.image }} initrd={{ item.ramdisk }} ip=dhcp ISCSI_INITIATOR={{ item.initiator }} ISCSI_TARGET_NAME={{ item.target }} ISCSI_TARGET_IP={{ item.target_ip }} ISCSI_TARGET_PORT=3260 root=/dev/sda rw
{%- elif item.boottype == 'memtest' %}
kernel http://pxeweb:4793/static/tftp/memtest86+.elf
{%- endif %}
boot
{% endfor %}

:netbootxyz
set conn_type http
chain --autofree http://boot.netboot.xyz/menu.ipxe || echo HTTP failed, localbooting...