{% extends "base.html" %}

{% block main %}
    <h1>PXE Web</h1>
    <h2>Bootables</h2>
    <a href="{{ url_for('bootable_add_ubuntu_nfs') }}" class="btn btn-default">Add Ubuntu NFS</a>
    <a href="{{ url_for('bootable_add_ubuntu_iscsi') }}" class="btn btn-default">Add Ubuntu iSCSI</a>
    <table class="table table-striped">
        <tr>
            <th>Code</th>
            <th>Label</th>
            <th>Boot type</th>
            <th>All machines</th>
            <th>Status</th>
        </tr>
        {% for b in bootables %}
            <tr>
                <td>{{ b.code }}</td>
                <td>{{ b.label }}</td>
                <td>{{ b.boottype }}</td>
                <td>
                    {% if b.everywhere == 1 %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    {% if b.locked is not none %}
                        Locked
                    {% else %}
                        Ok
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2>Machines</h2>
    <table class="table table-striped">
        <tr>
            <th>Label</th>
            <th>UUID</th>
        </tr>
        {% for m in machines %}
            <tr>
                <td>{{ m.label }}</td>
                <td>{{ m.uuid }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}